body
		   {

		   	background:gainsboro;
		   	display: flex;
		   	justify-content: center;
			align-items: center;
			min-height: 100vh;
		   	
		   }
		
		
    	*{
    		box-sizing: border-box;
    	}


			.soustitre{
			  font-family: Arial, Helvetica, sans-serif;
			  font-size:large;
			  margin-left: 5%;
               
			}
	
        /* La section gauche*/

    		.cotegauche

    		{
			  float: left;
              max-width: 18%;
              height: 1125px;
			  margin-left: 24%;   
			}
                     
			
			.img 
            
            {
				width: 165px;
				height: 165px;
				border-radius: 50%;
				border: 1px solid transparent;
				background: #17174a;
				position:relative;
				bottom: 158px;
				left: 40px;

			}
			          
            .soustitregauche

             {          
                font-family: Arial, Helvetica, sans-serif;
                font-size:large;
                margin-left: 10%;
                        
            }

			.infgauche

			{
               font-family: Arial, Helvetica, sans-serif;
			   font-size: 14px;
			   margin-left: 10%;
               line-height: 150%;
			}


			.triangletopleft

			{
				width: 0;
     			height: 0;
     			border-top: 205px solid #17174a;
      			border-right: 320px solid transparent;
			}



            .traitsoutitregauche
				{
				  max-width: 200px;
				  height: 1px;
				  border: 0;
				  background: black;	  	  
				}

				.bambara
				
				{
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 14px;
			        margin-left: 10%;
					position: relative;
				}

				.bambara::after
				{
					content: '';
					display: block;
					width: 125px;
					 height: 11px;
					 background: #17174a;
					 border: 2px #17174a;
					 border-radius: 5px;
					 position: absolute;
					 left: 65px;
					 bottom: 1px;
				}



				.francais
				
				{
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 14px;
			        margin-left: 10%;
					position: relative;
				}

				.francais::after
				{
					content: '';
					display: block;
					width: 122px;
					height: 11px;
					background: #17174a;
					border: 2px #17174a;
					border-radius: 5px;
					position: absolute;
					left: 65px;
					bottom: 1px;
				
				}


				.anglais
				
				{
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 14px;
			        margin-left: 10%;
					position: relative;
				}



				.anglais::after
				{
					content: '';
					display: block;
					width: 118px;
					height: 11px;
					background: #17174a;
					border: 2px #17174a;
					border-radius: 5px;
					position: absolute;
					left: 65px;
					bottom: 1px;
					z-index: 0;
				}
				
				.icones
				{
					color: #17174a;
					text-decoration: none;
					transition: 0.2s;
				}
				.icones:hover 
					{
						color: lightslategray;
					}

                .compecentre 
                {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 14px;
			        
                    line-height: 150%;
                }
	
				
    /* La Section droite*/ 


        .profilesize
        {
            margin-top: 8%;
        }

    	.cotedroit

    		{
              float: right ;
              max-width: 33%;	
              height: auto ;
              margin-right: 25%;
              
    		}


		.sidy
		 	{
				font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                margin-top: 8%;
				margin-left: 27%;
			}

		.infor
		{
                margin-left: 15%;
                float: top;
		   
		}
 
		.experiences
		  {
                font-family: Arial, Helvetica, sans-serif;
                font-size: small;
                margin-left: 8px;
                text-align: left;
                line-height: 150%;
                
		  }


		  .textdroite

			{
				font-family: Arial, Helvetica, sans-serif;
				font-size:small;
				margin-left: 5%;
				text-align: left;
                line-height: 150%;
			
			}

			
		.school
		
		{
           margin-left: 5%;
		   font-weight: bold;
		}

	

			.traitsoustitredroite
				{
				 max-width: 385px;
				  height: 1px;
				  border: 0;
				  background: black;
				  z-index: -5;
				  
				}

				@media (max-width: 1075px){

					.cotedroit
					{

					}
			
					.soustitre
					{
						flex-direction: column;
						height: auto;
					}

					.bambara::after
				{
					content: '';
					display: colomn;
					width: 50px;
					 height: 10px;
					 background: red;
					 border: 2px #17174a;
					 border-radius: 5px;
					 position: absolute;
					 left: 65px;
					 bottom: 1px;
				}

				}
    
              